/* Matseðill */

table {
	border-spacing: 0;
  }
  
  table th,
  table td {
	padding: calc(($--spacing) * 0.5);
	text-align: left;
  }
  
  table tbody tr:nth-child(2n + 1) {
	color: ($--color-dark);
	background-color: ($--color-gold);
  }